@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

body{
    font-family: 'Yanone Kaffeesatz', sans-serif;;
}

figure{
    box-shadow: 5px 5px 5px 5px #401d0d;
    font-size: x-large
}
  
.zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition: all .5s ease;
  }